body {
  margin: 0;
  background-color: #1f2937;
  color: #ffffff;
  text-shadow: 0px 0px 1px black;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: max-content;
  max-width: 550px;
  margin: 25px auto;
  /* border: 1px solid white; */
}
h1 {
  margin: 0px 8px;
  font-size: 250%;
}
#sub-head {
  font-weight: lighter;
  margin: 0 8px;
  color: #d5d4d8;
  font-size: 150%;
}
.green-color {
  color: #4adf86;
}








.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: flex;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  margin: 0px 8px;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #273549;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #065f46;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}








.generate-btn {
  margin: 0 8px;
  padding: 5px 8px;
  background-color: #4adf86;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 100%;
  text-shadow: 0px 0px 2px black;
}
button:hover {
  background-color: #065f46;
}
button:active {
  background-color: #021f17;
}
#out-pass {
  border-top: 1px solid #2f3e53;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.out-btn {
  color:#ffffff;
  width: 46%;
  min-height: 25px;
  font-size: smaller;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 12px;
  background-color: #273549;
  cursor: pointer;
}
.out-btn:active {
  background-color: #021f17;
}
.out-btn:before {
  content:"Copied";
  position:absolute;
  top: -50px;
  right: 0px;
  background: #021f17;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
}
.out-btn::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
}
